{% for playlist in playlists %}
    {% if playlist.time_last_updated %}
        {% set version = md5(playlist.time_last_updated) %}
    {% else %}
        {% set version = md5("1") %}
    {% endif %}
    <div class="col-lg-3 col-md-4 col-sm-4 equal">
        <div class="card card-sm">
            <div class="image">
                <a href="{{ baseUrl('/playlist/'~playlist.id) }}">
                    <img style='object-fit: cover;' class="lazy" data-src="https://cdn.quavergame.com/playlists/{{ playlist.id }}.jpg?v={{ version }}" onerror="this.src='{{ assets("/img/playlist_default.jpg") }}'">
                </a>
            </div>
            <div class="card-block fix-height">
                <h5 class="card-title">
                    <a href="{{ baseUrl('/playlist/'~playlist.id) }}">{{ playlist.name|escape }}</a>
                </h5>
                <p class="card-text font-size-md">
                    {{ playlist.description|truncate(60)|escape }}
                </p>
                {% if playlist.owner_username %}
                    <p class="card-text font-size-md">Created by
                        <a href="{{ baseUrl('/user/'~playlist.owner_username) }}">{{ playlist.owner_username }}</a>
                    </p>
                {% else %}
                    <p class="card-text font-size-md"></p>
                {% endif %}
            </div>
            <div class="card-footer">
                {% if playlist.time_last_updated %}
                    <span data-toggle="tooltip" title="{{ formatDate(playlist.time_last_updated) }}"><i class="fas fa-clock"></i> {{ formatDateDistance(playlist.time_last_updated) }}</span>
                {% endif %}
                <div class="ml-auto">
                    <span><i class="fas fa-music"></i> {{ playlist.map_count }}</span>
                </div>
            </div>
        </div>
    </div>
{% endfor %}