<div class="card" id="comments">
    <div class="card-body">
        <div id="comments" class="comments">
            {% if not comments|length %}No Comments{% endif %}
            {% for comment in comments %}
                <div class="media">
                    <div class="avatar">
                        <a class="h6" href="{{ baseUrl('/user/'~comment.user.id) }}">
                            <img src="{{ comment.user.avatar_url }}" alt="{{ comment.user.username }}">
                        </a>
                    </div>
                    <div class="media-body">
                        <div class="d-md-flex d-sm-block">
                            <a class="h6" href="{{ baseUrl('/user/'~comment.user.id) }}">{{ comment.user.username }}</a>
                            <div class="media-meta">
                                {% if map.creator_id == comment.user.id %}
                                    <span>Creator</span>
                                {% elseif HasGroup(comment.user, UserGroups.Developer) %}
                                    <span class="text-color-developer">Developer</span>
                                {% elseif HasGroup(comment.user, UserGroups.Admin) %}
                                    <span class="text-color-admin">Administrator</span>
                                {% elseif HasGroup(comment.user, UserGroups.Moderator) %}
                                    <span class="text-color-moderator">Moderator</span>
                                {% elseif HasGroup(comment.user, UserGroups.RankingSupervisor) %}
                                    <span class="text-color-ranking-supervisor">Ranking Supervisor</span>
                                {% else %}
                                    <span>User</span>
                                {% endif %}
                            </div>
                            <div class="media-meta" data-toggle="tooltip" title="{{ formatDate(comment.timestamp) }}">{{ formatDateDistance(comment.timestamp) }}</div>
                        </div>
                        <p>
                            {% for text in comment.comment %}
                                {% if text == "" %}
                                    <span style="display: block; margin-top: 10px;"></span>
                                {% else %}
                                    {{ text }}
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if currentUser %}
            {% if mapset.ranking_queue_status != 2 and mapset.ranking_queue_status != 5 and ((HasPrivilege(currentUser, Privileges.RankMapsets) or (currentUser.id == map.creator_id ))) %}
                <h5 class="mt-5">Leave a comment</h5>
                <form method="post" accept-charset="UTF-8" action="{{ baseUrl('/mapset/'~mapset.id~'/comment') }}">
                    <input type="hidden" name="mapset_id" value="{{ mapset.id }}">
                    <div class="form-group mb-4">
                        <textarea class="form-control queue-comment-textarea" rows="5" name="comment"></textarea>
                        <small class="form-text text-muted">Your comment must be between 1 and 2,000 characters!</small>
                    </div>
                    <input type="submit" class="btn btn-primary" name="submit_comment" value="Submit comment">
                </form>
            {% endif %}
        {% endif %}
    </div>
</div>