<div id="{{ table }}_maps" class="mapsets">
    {% if not data %}
        No mapsets
    {% endif %}
    {% for map in data %}
        <div class="mapset" style="background: linear-gradient(0deg, rgba(47, 47, 47, 0.2), rgba(47, 47, 47, 0.2)),
                linear-gradient(0deg, rgba(10, 9, 9, 0.5), rgba(10, 9, 9, 0.5)), url('https://cdn.quavergame.com/banners/{{ map.id }}_banner.jpg');background-size: cover;">
            <div class="mapset-info">
                <div>
                    <div class="mapset-song">
                        <a href="{{ baseUrl('/mapset/'~map.id) }}">{{ (map.artist ~ ' - ' ~ map.title)|slice(0, 50) }}</a>
                    </div>
                    <div class="mapset-difficulty">
                        <i class="fas fa-chart-line"></i>
                        1.69 - 7.69
                    </div>
                </div>
                <div>
                    <div class="mapset-info-right">
                        <div class="mapset-4k-7k">4K/7K</div>
                        {% if map.ranked_status == 1 %}
                            <div class="mapset-unranked">Unranked</div>
                        {% elseif map.ranked_status == 2 %}
                            <div class="mapset-ranked">Ranked</div>
                        {% endif %}
                    </div>
                    <div class="mapset-info-download">
                        <a href="{{ baseUrl('/download/mapset/'~map.id) }}">
                            <i class="fas fa-download"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<a href="javascript:void(0)" class="getMoreMapsEvent" data-table="{{ table }}">
    <div class="load-more">
        <i class="fas fa-angle-down"></i>
    </div>
</a>
