{% if lastPage > 1 %}
    {% set extremePagesLimit = 3 %}
    {% set nearbyPagesLimit = 2 %}

    <div>
        <ul class="pagination">
            {% if currentPage > 1 %}
                <li><a href="{{ paginationPath }}{{ currentPage-1 }}{{ paginationCountry }}">&larr;</a></li>

                {% for i in range(1, extremePagesLimit) if ( i < currentPage - nearbyPagesLimit ) %}
                    <li><a href="{{ paginationPath }}{{ i }}{{ paginationCountry }}">{{ i }}</a></li>
                {% endfor %}

                {% if extremePagesLimit + 1 < currentPage - nearbyPagesLimit %}
                    <li class="disabled"><a href="#">...</a></li>
                {% endif %}

                {% for i in range(currentPage-nearbyPagesLimit, currentPage-1) if ( i > 0 ) %}
                    <li><a href="{{ paginationPath }}{{ i }}{{ paginationCountry }}">{{ i }}</a></li>
                {% endfor %}
            {% endif %}

            <li class="active"><a href="#">{{ currentPage }}</a></li>

            {% if currentPage < lastPage %}
                {% for i in range(currentPage+1, currentPage + nearbyPagesLimit) if ( i <= lastPage ) %}
                    <li><a href="{{ paginationPath }}{{ i }}{{ paginationCountry }}">{{ i }}</a></li>
                {% endfor %}

                {% if  (lastPage - extremePagesLimit) > (currentPage + nearbyPagesLimit) %}
                    <li class="disabled"><a href="#">...</a></li>
                {% endif %}

                {% for i in range(lastPage - extremePagesLimit+1, lastPage) if ( i > currentPage + nearbyPagesLimit ) %}
                    <li><a href="{{ paginationPath }}{{ i }}{{ paginationCountry }}">{{ i }}</a></li>
                {% endfor %}

                <li><a href="{{ paginationPath }}{{ currentPage+1 }}{{ paginationCountry }}">&rarr;</a></li>
            {% endif %}
        </ul>
    </div>
{% endif %}