<div class="table-responsive" id="leaderboard">
    <table class="table align-items-center">
        <thead>
        <tr>
            <th scope="col" class="player text-left">Map</th>
            <th scope="col" class="text-center" style="width: 15%;">Submitted By</th>
            <th scope="col">Status</th>
            <th scope="col">Votes</th>
            <th scope="col" style="width: 15%;">Date</th>
            {% if currentUser %}
                {% if HasPrivilege(currentUser, Privileges.RankMapsets) %}
                    <th scope="col" style="width: 2%;"><i class="fas fa-download"></i></th>
                {% endif %}
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for map in queue %}
            {% set border = "" %}
            {% if currentUser and currentUser.id == map.creator_id %}
                {% set border = "border-left: 8px solid #2575dc;" %}
            {% endif %}
            <tr style="{{ border }}">
                <td class="text-left">
                    <div class="player">
                    <a href="/mapset/{{ map.mapset_id }}">
                        {{ map.artist|escape~' - '~map.title|escape }}
                    </a>
                    </div>
                    {% for difficulty in map.difficulties %}
                        <img src="{{ assets('/img/difficulties/'~ratingColor(difficulty.difficulty_rating)~'.png') }}"
                                data-toggle="tooltip" title="Mode: {{ difficulty.game_mode }}
Difficulty: {{ difficulty.difficulty_name }}
Difficulty Rating: {{ difficulty.difficulty_rating }}
Length: {{ difficulty.duration }}">
                    {% endfor %}
                </td>
                <td class="text-center">
                    <a href="/user/{{ map.creator_id }}">
                        {{ map.creator_username }}
                    </a>
                </td>
                <td>
                    {% if map.status == 0 %}
                        <span class="mapset-buttons pending">Pending</span>
                    {% elseif map.status == 1 %}
                        <span class="mapset-buttons denied">Denied For Rank</span>
                    {% elseif map.status == 2 %}
                        <span class="mapset-buttons blacklisted">Blacklisted</span>
                    {% elseif map.status == 3 %}
                        <span class="mapset-buttons blacklisted" style="background-color: #5B5B5B;">On Hold</span>
                    {% elseif map.status == 4 %}
                        <span class="mapset-buttons" style="background-color: #27b06e;">Resolved</span>
                    {% endif %}
                </td>
                <td>
                    <span data-toggle="tooltip" title="{{ map.votes }}">
                        {{ map.votes_count }} / 2
                    </span>
                </td>
                <td>
                    <span data-toggle="tooltip" title="{{ formatDate(map.date_last_updated) }}">{{ formatDateDistance(map.date_last_updated) }}</span>
                </td>
                {% if currentUser %}
                    {% if HasPrivilege(currentUser, Privileges.RankMapsets) %}
                        <td>
                            <a href="{{ baseUrl('/download/mapset/'~map.creator_id) }}">
                                <div class="download">
                                    <i class="fas fa-download"></i>
                                </div>
                            </a>
                        </td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>