<div id="{{ table }}" class="{{ table }}">
</div>
<div id="{{ table }}" type="x-tmpl-mustache">
    <div class="table-responsive" id="leaderboard">
        <table class="table align-items-center">
            <thead>
            <tr style="text-align: center">
                <th scope="col" style="width: 5%;">Grade</th>
                <th scope="col">Song</th>
                <th scope="col" style="width: 20%;">Performance Rating</th>
                <th scope="col" style="width: 5%;">Accuracy</th>
                <th scope="col" style="width: 5%;">Mods</th>
                <th scope="col" style="width: 5%;">Replay</th>
                <th scope="col" style="width: 5%;">Info</th>
            </tr>
            </thead>
            <tbody>
            {% for score in data %}
                <tr style="text-align: center">
                    <td>
                        <img src="/img/grades/grade-small-{{ score.grade }}.png" alt="{{ score.grade }}" title="{{ score.grade }}" width="30px" height="30px">
                    </td>
                    <td>
                        <a href="#">{{ score.map.artist }} {{ score.map.title }} [{{ score.map.difficulty_name }}]</a>
                    </td>
                    <td>{{ score.performance_rating|number_format(2) }}</td>
                    <td>{{ score.accuracy|number_format(2) }}%</td>
                    <td>{{ score.mods_string }}</td>
                    <td>
                        <a href="http://api.quavergame.com/d/web/replay/{{ score.id }}">
                            <i class="fas fa-download" data-toggle="tooltip" title="Download" data-original-title="Download"></i>
                        </a>
                    </td>
                    <td>
                        <a data-toggle="collapse" href="#score_{{ score.id }}" data-target="#score_{{ score.id }}" onclick="loadChart({{ score.count_marv }}, {{ score.count_perf }}, {{ score.count_great }}, {{ score.count_good }}, {{ score.count_okay }}, {{ score.count_miss }});">
                            <i class="fas fa-angle-down"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="7" style="padding: 0;">
                        <div class="accordian-body collapse" data-parent="#scores" id="score_{{ score.id }}">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div style="padding: 8px">
                                        {% include "../helpers/score_chart.twig" %}
                                    </div>
                                </div>
                                <div class="col-sm-4 border-left">
                                    <div class="list-group list-group-flush" style="min-height: 400px;">
                                        <div class="list-group-item justify-content-between">Performance Rating:
                                            <span>{{ score.performance_rating|number_format(2) }}</span>
                                        </div>
                                        <div class="list-group-item justify-content-between">Score:
                                            <span>{{ score.total_score.toLocaleString() }}</span>
                                        </div>
                                        <div class="list-group-item justify-content-between">Accuracy:
                                            <span>{{ score.accuracy|number_format(2) }}%</span>
                                        </div>
                                        <div class="list-group-item justify-content-between">Max Combo:
                                            <span>{{ score.max_combo }}x</span>
                                        </div>
                                        <div class="list-group-item justify-content-between">Mods:
                                            <span>{{ score.mods_string }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="/js/mustache.js"></script>

<script>
    Mustache.tags = ["[[", "]]"];

    function renderMaps(arr) {
        let template = document.getElementById('template').innerHTML;
        // ToDo
    }

    window.addEventListener('DOMContentLoaded', () => {
        renderMaps();
    });
</script>