{% extends "layouts/app.twig" %}
{% block content %}
    {% include 'maps/cover.twig' %}
    <section id="modding">
        <div class="container">
            {% include 'maps/info.twig' %}
            <h3 class="text-center mb-4">[{{ gameMode(map.game_mode) }}] {{ map.difficulty_rating|number_format(2) }}
                - {{ map.difficulty_name|truncate(35)|escape }}</h3>
            {% if currentUser and map.ranked_status != 2 %}
                {% include "modding/submit-mod.twig" with {"editing": false} %}
            {% endif %}
            <div class="comments" id="comments">
                {% if not mods %}
                    <div class="card-body">There are currently no mods for this map.</div>
                {% else %}
                    {% for mod in mods %}
                        {% if mod.mod.status == 'Accepted' %}
                            {% set type = 'accepted' %}
                        {% elseif mod.mod.status == 'Ignored' %}
                            {% set type = 'ignored' %}
                        {% elseif mod.mod.status == 'Pending' %}
                            {% set type = 'pending' %}
                        {% else %}
                            {% set type = 'denied' %}
                        {% endif %}

                        <div class="modding-bottom">
                            <div class="d-flex justify-content-between">
                                <div class="mod-type mod-type-{{ type }}" style="">
                                    {% if mod.mod.status == 'Accepted' %}
                                        Accepted
                                    {% elseif mod.mod.status == 'Ignored' %}
                                        Ignored
                                    {% elseif mod.mod.status == 'Pending' %}
                                        Pending
                                    {% else %}
                                        Denied
                                    {% endif %}
                                </div>
                                {% if mod.mod.type != "None" %}
                                    <div class="mod-type mod-type-{{ mod.mod.type|lower }}">
                                        {{ mod.mod.type }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="card" id="mod_{{ mod.mod.id }}">
                                <div class="card-body mod-{{ type }}">
                                    <div class="media">
                                        <div class="avatar">
                                            <img src="{{ mod.author.avatar_url }}" alt="">
                                        </div>
                                        <div class="media-body">
                                            <a class="h6"
                                               href="{{ baseUrl('/user/'~mod.author.id) }}">{{ mod.author.username }}</a>
                                            <div class="media-meta">
                                                {% if map.creator_id == mod.author.id %}
                                                    <span>Creator</span>
                                                {% elseif HasGroup(mod.author, UserGroups.Developer) %}
                                                    <span class="text-color-developer">Developer</span>
                                                {% elseif HasGroup(mod.author, UserGroups.Admin) %}
                                                    <span class="text-color-admin">Administrator</span>
                                                {% elseif HasGroup(mod.author, UserGroups.Moderator) %}
                                                    <span class="text-color-moderator">Moderator</span>
                                                {% elseif HasGroup(mod.author, UserGroups.RankingSupervisor) %}
                                                    <span class="text-color-ranking-supervisor">Ranking Supervisor</span>
                                                {% else %}
                                                    <span>User</span>
                                                {% endif %}
                                            </div>
                                            <div class="media-meta" data-toggle="tooltip"
                                                 title="{{ formatDate(mod.mod.timestamp) }}">{{ formatDateDistance(mod.mod.timestamp) }}</div>
                                            <div class="media-meta">
                                                <a href="#mod_{{ mod.mod.id }}">Permalink</a>
                                            </div>
{#                                            {% if mod.author.id == currentUser.id %}#}
{#                                                <div class="comment-action" style="float: right;">#}
{#                                                    <div class="dropdown float-right">#}
{#                                                        <a href="#" class="text-info"><i class="fas fa-pen"></i></a>#}
{#                                                        <a href="#" class="text-danger"><i class="fa fa-times"></i></a>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            {% endif %}#}
                                            {% if mod.mod.map_timestamp %}
                                                <div class="modding-timestamp">
                                                    <a href="quaver://editor/{{ mod.mod.map_timestamp|escape }}">
                                                        <span class="">{{ mod.mod.map_timestamp_readable|escape }}</span>
                                                    </a>
                                                </div>
                                                <br>
                                            {% endif %}
                                            <div style="overflow-wrap: anywhere;">
                                                {{ mod.mod.comment }}
                                            </div>
                                            {% if mod.mod.replies %}
                                                <hr>{% endif %}
                                            {% for comment in mod.mod.replies %}
                                                <div class="media">
                                                    <div class="avatar">
                                                        <img src="{{ comment.author.avatar_url }}" alt="">
                                                    </div>
                                                    <div class="media-body">
                                                        <div class="d-flex">
                                                            <div class="d-flex">
                                                                <a class="h6"
                                                                   href="{{ baseUrl('/user/'~comment.author.id) }}">{{ comment.author.username }}</a>
                                                                <div class="media-meta">
                                                                    {% if map.creator_id == comment.author.id %}
                                                                        <span>Creator</span>
                                                                    {% elseif HasGroup(comment.author, UserGroups.Developer) %}
                                                                        <span class="text-color-developer">Developer</span>
                                                                    {% elseif HasGroup(comment.author, UserGroups.Admin) %}
                                                                        <span class="text-color-admin">Administrator</span>
                                                                    {% elseif HasGroup(comment.author, UserGroups.Moderator) %}
                                                                        <span class="text-color-moderator">Moderator</span>
                                                                    {% elseif HasGroup(comment.author, UserGroups.RankingSupervisor) %}
                                                                        <span class="text-color-ranking-supervisor">Ranking Supervisor</span>
                                                                    {% else %}
                                                                        <span>User</span>
                                                                    {% endif %}
                                                                </div>
                                                                <div class="media-meta">{{ formatDateDistance(comment.message.timestamp) }}</div>
                                                            </div>
                                                        </div>
                                                        <div style="word-break: break-word;">
                                                            {{ comment.message.comment }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% if currentUser and map.ranked_status != 2 %}
                                        <div class="row">
                                            <div class="col-md-11 ml-auto">
                                                <div class="mb-3 d-flex justify-content-between">
                                                    {% if currentUser.id == map.creator_id and mod.mod.status == 'Pending' %}
                                                        <div>
                                                            <form method="POST" accept-charset="UTF-8">
                                                                <input type="hidden" name="mod_id"
                                                                       value="{{ mod.mod.id }}">
                                                                <button type="submit" name="mod_accept"
                                                                        class="btn btn-success btn-xs">
                                                                    <i class="fas fa-check"></i>
                                                                    Accept
                                                                </button>
                                                                <button type="submit" name="mod_deny"
                                                                        class="btn btn-danger btn-xs">
                                                                    <i class="fas fa-times"></i>
                                                                    Deny
                                                                </button>
                                                                <button type="submit" name="mod_ignore"
                                                                        class="btn btn-warning btn-xs">
                                                                    <i class="fas fa-times-circle"></i>
                                                                    Ignore
                                                                </button>
                                                            </form>
                                                        </div>
                                                    {% else %}
                                                        {% if currentUser.id == map.creator_id %}
                                                            <div>
                                                                <form method="POST" accept-charset="UTF-8">
                                                                    <input type="hidden" name="mod_id"
                                                                           value="{{ mod.mod.id }}">
                                                                    <button type="submit" name="mod_revert"
                                                                            class="btn btn-warning btn-xs">
                                                                        <i class="fas fa-undo"></i>
                                                                        Revert
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}
                                                    <button type="button" data-toggle="collapse"
                                                            data-target="#comment_{{ mod.mod.id }}"
                                                            class="btn btn-primary btn-xs collapsed"
                                                            aria-expanded="false">
                                                        <i class="fas fa-reply"></i>
                                                        Reply
                                                    </button>
                                                </div>

                                                <div class="collapse" data-parent="#comments"
                                                     id="comment_{{ mod.mod.id }}">
                                                    <form method="POST" accept-charset="UTF-8">
                                                        <div class="form-group">
                                                            <input type="hidden" name="mod_id" value="{{ mod.mod.id }}">
                                                            <textarea class="form-control queue-comment-textarea"
                                                                      name="comment" rows="5"></textarea>
                                                        </div>
                                                        <button type="submit" name="submit_comment"
                                                                class="btn btn-primary">Submit comment
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

{% block style %}
{% endblock %}

{% block scripts %}
    <script defer src="{{ assets('/js/artists.js') }}"></script>
{% endblock %}