<div class="d-flex d-md-flex d-sm-block justify-content-between align-items-center">
    <div>
        {% if modding %}
            <a type="button" href="{{ baseUrl('/mapset/map/'~map.id~'') }}" class="btn btn-info" style="background-color: #0FBAE5; border: none;">Back To Mapset Page</a>
        {% endif %}
        {% set difficulty_color_current = ratingColor(map.difficulty_rating) %}
        <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle {{ difficulty_color_current }}" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                [{{ gameMode(map.game_mode) }}] {{ map.difficulty_rating|number_format(2) }} - {{ map.difficulty_name }}
            </button>
            <div class="dropdown-menu" x-placement="bottom-start">
                {% for diff in mapset.maps %}
                    {% set difficulty_color = ratingColor(diff.difficulty_rating) %}
                    <a class="dropdown-item {{ difficulty_color }}" href="{{ baseUrl((modding)?'/mapset/map/'~diff.id~'/mods':'/mapset/map/'~diff.id) }}">[{{ gameMode(diff.game_mode) }}] {{ diff.difficulty_rating|number_format(2) }} - {{ diff.difficulty_name }} </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="mt-md-0 mt-sm-3">
        {% if not modding %}
            <a type="button" href="{{ baseUrl('/mapset/map/'~map.id~'/mods') }}" class="btn btn-info" style="background-color: #0FBAE5; border: none;">Modding Discussion</a>
            <a type="button" href="{{ baseUrl('/download/mapset/'~mapset.id) }}" class="btn btn-primary" style="background-color: #0587E5; border: none;">Download</a>
        {% else %}
            <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort by: {% if not filter or filter == "time" %} Most Recent {% elseif filter == "status" %} Status {% elseif filter == "type" %} Type {% endif %}
                </button>
                <div class="dropdown-menu" x-placement="bottom-start">
                    <a class="dropdown-item text-white" href="{{ baseUrl('/mapset/map/'~map.id~'/mods') }}">Most Recent</a>
                    <a class="dropdown-item text-white" href="{{ baseUrl('/mapset/map/'~map.id~'/mods?filter=status') }}">Status</a>
                    <a class="dropdown-item text-white" href="{{ baseUrl('/mapset/map/'~map.id~'/mods?filter=type') }}">Type</a>
                </div>
            </div>
        {% endif %}
        {% if currentUser %}
            <div class="dropdown">
                <button class="btn btn-dark btn-icon" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="ya ya-gear"></i>
                </button>
                <div class="dropdown-menu ml-auto">
                    <button class="dropdown-item text-success" data-toggle="modal" data-target="#modalPlaylist">Add to Playlist</button>
                    {% if currentUser.id == map.creator_id %}
                        {% if (mapset.ranking_queue_status == null or mapset.ranking_queue_status == 1) and map.ranked_status != 2 %}
                            <form method="POST" accept-charset="UTF-8" onsubmit="return confirm('Do you wish to submit this mapset for ranked status? Make sure to visit the Ranking Criteria!');">
                                <input type="hidden" name="mapset_id" value="{{ mapset.id }}">
                                <button class="dropdown-item text-info" name="submit_for_rank">Submit for Rank</button>
                            </form>
                        {% endif %}
                        {% if map.ranked_status != 2 %}
                            <form method="POST" accept-charset="UTF-8" onsubmit="return confirm('Do you really want to delete mapset?');">
                                <input type="hidden" name="mapset_id" value="{{ mapset.id }}">
                                <button class="dropdown-item text-danger" name="submit_delete">Delete Mapset</button>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
<div class="card mt-4">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <b>Created by:</b>
                    <a href="{{ baseUrl('/user/'~mapset.creator_username) }}">
                        {{ mapset.creator_username }}
                    </a>
                </div>
                <div>
                    <b>Submitted:</b>
                    <span data-toggle="tooltip" title="{{ formatDate(mapset.date_submitted) }}">{{ formatDateDistance(mapset.date_submitted) }}</span>
                </div>
                <div>
                    <b>Last updated:</b>
                    <span data-toggle="tooltip" title="{{ formatDate(mapset.date_last_updated) }}">{{ formatDateDistance(mapset.date_last_updated) }}</span>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <b>Source:</b>
                    {{ (map.source) ? map.source : 'n/a' }}
                </div>
                <div>
                    <b>Tags:</b> <span data-toggle="tooltip" title="{{ map.tags }}">{{ map.tags|truncate(100) }}</span>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <b>BPM:</b>
                    {{ map.bpm }}
                </div>
                <div>
                    <b>Length:</b>
                    {{ formatTime(map.length) }}
                </div>
                <div>
                    <b>Passes/Fails:</b>
                    {{ map.play_count-map.fail_count }} / {{ map.fail_count }}
                </div>
            </div>
        </div>
    </div>
</div>

{% if not modding and mapset.description %}
    <div class="widget">
        <div class="widget-header">
            Description
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body map-description position-relative markdown-body">
            {% if currentUser.id == map.creator_id %}
                <div class="position-absolute" style="right: 0; top: 0;">
                    <button class="btn btn-link" data-toggle="modal" data-target="#editDescription">
                        <i class="far fa-edit"></i>
                    </button>
                </div>
            {% endif %}
            {{ mapset.description }}
        </div>
    </div>
{% endif %}

{% include "../modals/editDescription.twig" %}