<div class="d-flex justify-content-between align-items-center">
    <div>
        {% if modding %}
            <a type="button" href="{{ baseUrl('/mapset/map/'~map.id~'') }}" class="btn btn-info" style="background-color: #0FBAE5; border: none;">Back To Mapset Page</a>
        {% endif %}
        {% if map.difficulty_rating < 1 %}
            {% set difficulty_color_current = 'difficulty-rating-beginner' %}
        {% elseif map.difficulty_rating < 3.5 %}
            {% set difficulty_color_current = 'difficulty-rating-easy' %}
        {% elseif map.difficulty_rating < 8 %}
            {% set difficulty_color_current = 'difficulty-rating-normal' %}
        {% elseif map.difficulty_rating < 19 %}
            {% set difficulty_color_current = 'difficulty-rating-hard' %}
        {% elseif map.difficulty_rating < 28 %}
            {% set difficulty_color_current = 'difficulty-rating-insane' %}
        {% else %}
            {% set difficulty_color_current = 'difficulty-rating-expert' %}
        {% endif %}
        <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle {{ difficulty_color_current }}" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                [{{ gameMode(map.game_mode) }}] {{ map.difficulty_rating|number_format(2) }} - {{ map.difficulty_name }}
            </button>
            <div class="dropdown-menu" x-placement="bottom-start">
                {% for diff in mapset.maps %}
                    {% if diff.difficulty_rating < 1 %}
                        {% set difficulty_color = 'difficulty-rating-beginner' %}
                    {% elseif diff.difficulty_rating < 3.5 %}
                        {% set difficulty_color = 'difficulty-rating-easy' %}
                    {% elseif diff.difficulty_rating < 8 %}
                        {% set difficulty_color = 'difficulty-rating-normal' %}
                    {% elseif diff.difficulty_rating < 19 %}
                        {% set difficulty_color = 'difficulty-rating-hard' %}
                    {% elseif diff.difficulty_rating < 28 %}
                        {% set difficulty_color = 'difficulty-rating-insane' %}
                    {% else %}
                        {% set difficulty_color = 'difficulty-rating-expert' %}
                    {% endif %}
                    <a class="dropdown-item {{ difficulty_color }}" href="{{ baseUrl((modding)?'/mapset/map/'~diff.id~'/mods':'/mapset/map/'~diff.id) }}">[{{ gameMode(diff.game_mode) }}] {{ diff.difficulty_rating|number_format(2) }} - {{ diff.difficulty_name }} </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div>
        {% if currentUser %}
            {#            {% if not modding %}#}
            {#                <a type="button" href="#" class="btn btn-success">Add To Playlist</a>#}
            {#            {% endif %}#}
            {% if currentUser.id == map.creator_id %}
                <form method="POST" accept-charset="UTF-8" style="display: inline-block;">
                    <input type="hidden" name="mapset_id" value="{{ mapset.id }}">
                    {#                    <button type="submit" name="submit_rank" class="btn btn-info" style="background-color: #45D6F5; border: none;">Submit For Rank</button>#}
                    {% if map.ranked_status != 2 %}
                        {#                        <button type="submit" name="submit_delete" class="btn btn-danger">Delete Mapset</button>#}
                    {% endif %}
                </form>
            {% endif %}
        {% endif %}
        {% if not modding %}
            <a type="button" href="{{ baseUrl('/mapset/map/'~map.id~'/mods') }}" class="btn btn-info" style="background-color: #0FBAE5; border: none;">Modding Discussion</a>
            <a type="button" href="{{ baseUrl('/download/mapset/'~mapset.id) }}" class="btn btn-primary" style="background-color: #0587E5; border: none;">Download</a>
        {% else %}
            <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort by: {% if not filter %} None {% elseif filter == "time" %} Most Recent {% elseif filter == "status" %} Status {% elseif filter == "type" %} Type {% endif %}
                </button>
                <div class="dropdown-menu" x-placement="bottom-start">
                    <a class="dropdown-item text-white" href="{{ baseUrl('/mapset/map/'~map.id~'/mods') }}">Most Recent</a>
                    <a class="dropdown-item text-white" href="{{ baseUrl('/mapset/map/'~map.id~'/mods?filter=status') }}">Status</a>
                    <a class="dropdown-item text-white" href="{{ baseUrl('/mapset/map/'~map.id~'/mods?filter=type') }}">Type</a>
                </div>
            </div>
        {% endif %}
        <form method="POST" accept-charset="UTF-8" style="display: inline-block;">
            <input type="hidden" name="mapset_id" value="{{ mapset.id }}">
            <div class="dropdown">
                <button class="btn btn-dark btn-icon" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="ya ya-gear"></i>
                </button>
                <div class="dropdown-menu" x-placement="bottom-start">
                    <button class="dropdown-item text-success">Add to Playlist</button>
                    {% if currentUser.id == map.creator_id %}
                        <button class="dropdown-item text-info">Submit For Rank</button>
                        {% if map.ranked_status != 2 %}
                            <button class="dropdown-item text-danger">Delete Mapset</button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card mt-4">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <b>Created by:</b>
                    <a href="{{ baseUrl('/user/'~mapset.creator_username) }}">
                        {{ mapset.creator_username }}
                    </a>
                </div>
                <div>
                    <b>Submitted:</b>
                    {{ formatDate(mapset.date_submitted) }}
                </div>
                <div>
                    <b>Last updated:</b>
                    {{ formatDate(mapset.date_last_updated) }}
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <b>Source:</b>
                    {{ (map.source) ? map.source : 'n/a' }}
                </div>
                <div>
                    <b>Tags</b> {{ (map.tags) ? '' : 'n/a' }}
                </div>
                <div>{{ (map.tags) ? map.tags : '' }}</div>
            </div>
            <div class="col-md-4">
                <div>
                    <b>BPM:</b>
                    {{ map.bpm }}
                </div>
                <div>
                    <b>Length:</b>
                    {{ formatTime(map.length) }}
                </div>
                <div>
                    <b>Passes/Fails:</b>
                    {{ map.play_count-map.fail_count }} / {{ map.fail_count }}
                </div>
            </div>
        </div>
    </div>
</div>

{% if not modding and mapset.description %}
    <div class="widget">
        <div class="widget-header">
            Description
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body map-description">
            {{ mapset.description }}
        </div>
    </div>
{% endif %}