{% extends "layouts/app.twig" %}
{% block content %}
    {% include 'maps/cover.twig' %}
    <section>
        <div class="container">
            {% include 'maps/info.twig' %}
            <div class="comments">
                {% if not mods %}
                    <div class="card-body">There are currently no mods for this map.</div>
                {% else %}
                    {% for mod in mods %}
                        {% if mod.mod.status == 'Accepted' %}
                            {% set type = 'accepted' %}
                        {% elseif mod.mod.status == 'Ignored' %}
                            {% set type = 'ignored' %}
                        {% elseif mod.mod.status == 'Pending' %}
                            {% set type = 'pending' %}
                        {% else %}
                            {% set type = 'denied' %}
                        {% endif %}

                        <div>
                            <div class="mod-type mod-type-{{ type }}" style="">
                                {{ mod.mod.type }}
                            </div>
                            <div class="card" id="mod_{{ mod.mod.id }}">
                                <div class="card-body mod-{{ type }}">
                                    <div class="media">
                                        <div class="avatar">
                                            <img src="{{ mod.author.avatar_url }}" alt="">
                                        </div>
                                        <div class="media-body">
                                            <a class="h6" href="{{ baseUrl('/user/'~mod.author.id) }}">{{ mod.author.username }}</a>
                                            <div class="media-meta">
                                                {% if map.creator_id == mod.author.id %}
                                                    <span>Creator</span>
                                                {% elseif HasGroup(mod.author, UserGroups.Developer) %}
                                                    <span class="text-color-developer">Developer</span>
                                                {% elseif HasGroup(mod.author, UserGroups.Admin) %}
                                                    <span class="text-color-admin">Administrator</span>
                                                {% elseif HasGroup(mod.author, UserGroups.Moderator) %}
                                                    <span class="text-color-moderator">Moderator</span>
                                                {% elseif HasGroup(mod.author, UserGroups.RankingSupervisor) %}
                                                    <span class="text-color-ranking-supervisor">Ranking Supervisor</span>
                                                {% else %}
                                                    <span>User</span>
                                                {% endif %}
                                            </div>
                                            <div class="media-meta">{{ formatDateDistance(mod.mod.timestamp) }}</div>
                                            <div class="media-meta">
                                                <a href="#mod_{{ mod.mod.id }}">Permalink</a>
                                            </div>
                                            <div class="comment-action" style="float: right;">
                                                <div class="dropdown float-right">
                                                    {% if mod.mod.status == 'Accepted' %}
                                                        <span class="mapset-buttons ranked">Accepted</span>
                                                    {% elseif mod.mod.status == 'Ignored' %}
                                                        <span class="mapset-buttons badge-warning">Ignored</span>
                                                    {% elseif mod.mod.status == 'Pending' %}
                                                        <span class="mapset-buttons pending">Pending</span>
                                                    {% else %}
                                                        <span class="mapset-buttons denied">Denied</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% if mod.mod.map_timestamp %}
                                                <div>
                                                    <a href="quaver://editor/{{ mod.mod.map_timestamp }}">
                                                        <span class="">{{ mod.mod.map_timestamp_readable }}</span>
                                                    </a>
                                                </div>
                                            {% endif %}
                                            <p>{{ mod.mod.comment }}</p>
                                            {% if mod.mod.replies %}
                                                <hr>{% endif %}
                                            {% for comment in mod.mod.replies %}
                                                <div class="media">
                                                    <div class="avatar">
                                                        <img src="{{ comment.author.avatar_url }}" alt="">
                                                    </div>
                                                    <div class="media-body">
                                                        <div class="d-flex">
                                                            <div class="d-flex">
                                                                <a class="h6" href="{{ baseUrl('/user/'~comment.author.id) }}">{{ comment.author.username }}</a>
                                                                <div class="media-meta">
                                                                    {% if map.creator_id == comment.author.id %}
                                                                        <span>Creator</span>
                                                                    {% elseif HasGroup(comment.author, UserGroups.Developer) %}
                                                                        <span class="text-color-developer">Developer</span>
                                                                    {% elseif HasGroup(comment.author, UserGroups.Admin) %}
                                                                        <span class="text-color-admin">Administrator</span>
                                                                    {% elseif HasGroup(comment.author, UserGroups.Moderator) %}
                                                                        <span class="text-color-moderator">Moderator</span>
                                                                    {% elseif HasGroup(comment.author, UserGroups.RankingSupervisor) %}
                                                                        <span class="text-color-ranking-supervisor">Ranking Supervisor</span>
                                                                    {% else %}
                                                                        <span>Something else?</span>
                                                                    {% endif %}
                                                                </div>
                                                                <div class="media-meta">{{ formatDateDistance(comment.message.timestamp) }}</div>
                                                            </div>
                                                            <div class="media-tools" style="display: block;">
                                                                <a class="btn btn-link btn-icon btn-xs" onclick="commentSpam(this)" data-id="{{ comment.message.id }}" data-spam="{{ comment.message.spam }}" data-comment="{{ comment.message.comment }}" data-toggle="tooltip" title="" data-original-title="Mark as spam">
                                                                    <i class="ya ya-flag"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <p>
                                                        <div id="mod_comment_{{ comment.message.id }}">
                                                            {% if not comment.message.spam %}
                                                                {{ comment.message.comment }}
                                                            {% else %}
                                                                <a data-id="{{ comment.message.id }}" data-comment="{{ comment.message.comment }}" onclick="readSpam(this)">This comment was marked as spam, click here to view the content</a>
                                                            {% endif %}
                                                        </div>
                                                        </p>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
    {{ dump(mods) }}
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ assets('/css/modding.css') }}">
{% endblock %}

{% block scripts %}
    <script>
        function readSpam(element) {
            const id = $(element).data('id');
            const comment = $(element).data('comment');

            $(`#mod_comment_${id}`).html(comment);
        }

        function commentSpam(element) {
            const id = $(element).data('id');
            const comment = $(element).data('comment');
            const spam = $(element).data('spam');

            if(spam === false) {
                $(`#mod_comment_${id}`).html(`<a data-id="${id}" data-comment="${comment}" onclick="readSpam(this)">This comment was marked as spam, click here to view the content</a>`);
                $(element).data('original-title', 'Unmark as spam');
                $(element).data('spam', true);
            } else {
                $(`#mod_comment_${id}`).html(comment);
                $(element).data('original-title', 'Mark as spam');
                $(element).data('spam', false);
            }

            // ToDo post request
        }
    </script>
{% endblock %}