{% extends "layouts/app.twig" %}
{% block content %}
    {% include 'maps/cover.twig' %}

    <section>
        <div class="container">
            {% include 'maps/info.twig' %}
            <div class="widget">
                <div class="widget-header d-flex justify-content-between">
                    Leaderboard
                    {% if map.ranked_status == 2 %}
                        <span class="mapset-buttons ranked">Ranked</span>
                    {% else %}
                        <span class="mapset-buttons unranked">Unranked</span>
                    {% endif %}
                </div>
            </div>
            <div class="card" id="leaderboard">
                <div class="card-body table-responsive" style="padding: 0;">
                    <table class="table align-items-center">
                        <thead>
                        <tr style="font-size: 14px;">
                            <th scope="col">#</th>
                            <th scope="col">Grade</th>
                            <th scope="col">Player</th>
                            <th scope="col">Perf. Rating</th>
                            <th scope="col">Score</th>
                            <th scope="col">Accuracy</th>
                            <th scope="col">Max Combo</th>
                            <th scope="col">Marvelous</th>
                            <th scope="col">Perfect</th>
                            <th scope="col">Great</th>
                            <th scope="col">Good</th>
                            <th scope="col">Okay</th>
                            <th scope="col">Miss</th>
                            <th scope="col">Mods</th>
                        </tr>
                        </thead>
                        <tbody style="font-size: 14px;">
                        {% for score in scores %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>
                                    <img src="{{ assets('/img/grades/'~score.grade~'.png') }}" alt="{{ score.grade }}" title="{{ score.grade }}" width="30px" height="30px">
                                </td>
                                <td style="text-align: left;">
                                    <a href="{{ baseUrl('/leaderboard?country='~score.user.country|lower) }}">
                                        <img src="{{ assets('/img/flags/'~score.user.country~'.png') }}" alt="{{ score.user.country }}">
                                    </a>
                                    <a href="{{ baseUrl('/user/'~score.user.id) }}">{{ score.user.username }}</a>
                                </td>
                                <td>
                                    <b>{{ score.performance_rating|number_format(2) }}</b>
                                </td>
                                <td>{{ score.total_score|number_format(0, '.', ',') }}</td>
                                <td>{{ score.accuracy|number_format(2) }}%</td>
                                <td>{{ score.max_combo|number_format(0, '.', ',') }}x</td>
                                <td style="color: rgba(251, 255, 182, 1);">{{ score.count_marv|number_format(0, '.', ',') }}</td>
                                <td style="color: rgba(242, 201, 76, 1);">{{ score.count_perf|number_format(0, '.', ',') }}</td>
                                <td style="color: rgba(86, 254, 110,1);">{{ score.count_great|number_format(0, '.', ',') }}</td>
                                <td style="color: rgba(15, 186, 229, 1);">{{ score.count_good|number_format(0, '.', ',') }}</td>
                                <td style="color: rgba(238, 95, 172, 1);">{{ score.count_okay|number_format(0, '.', ',') }}</td>
                                <td style="color: rgba(249, 100, 93, 1);">{{ score.count_miss|number_format(0, '.', ',') }}</td>
                                <td>{{ score.mods_string }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="widget">
                <div class="widget-header d-flex justify-content-between">
                    Queue comments
                    <div>
                        {% if mapset.ranking_queue_status != null %}
                            <span class="mapset-buttons ranked">
                            {% if map.ranked_status == 2 %}
                                2/2
                            {% else %}
                                {% if mapset.ranking_queue_vote_count %}
                                    {{ mapset.ranking_queue_vote_count }}/2
                                {% else %}
                                    0/0
                                {% endif %}
                            {% endif %}
                            RANKING SUPERVISOR VOTES
                        </span>
                        {% endif %}
                        {% if not map.ranked_status == 2 %}
                            {% if mapset.ranking_queue_status == 0 %}
                                <span class="mapset-buttons pending" style="background-color: #F2994A;">Pending</span>
                            {% elseif mapset.ranking_queue_status == 1 %}
                                <span class="mapset-buttons denied" style="background-color: #5B5B5B;">Denied For Rank</span>
                            {% elseif mapset.ranking_queue_status == 2 %}
                                <span class="mapset-buttons blacklisted" style="background-color: #5B5B5B;">Blacklisted</span>
                            {% else %}
                                <span class="mapset-buttons pending">Not Submitted</span>
                            {% endif %}
                        {% else %}
{#                            <span class="mapset-buttons ranked">Ranked</span>#}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div id="comments" class="comments">
                        {% if not comments|length %} No Comments{% endif %}
                        {% for comment in comments %}
                            <div class="media">
                                <div class="avatar">
                                    <img src="{{ comment.user.avatar_url }}" alt="{{ comment.user.username }}">
                                </div>
                                <div class="media-body">
                                    <div class="d-flex">
                                        <div class="d-flex">
                                            <a class="h6" href="{{ baseUrl('/user/'~comment.user.id) }}">{{ comment.user.username }}</a>
                                            <div class="media-meta">
                                                {% if map.creator_id == comment.user.id %}
                                                    <span>Creator</span>
                                                {% elseif HasGroup(comment.user, UserGroups.Developer) %}
                                                    <span class="text-color-developer">Developer</span>
                                                {% elseif HasGroup(comment.user, UserGroups.Admin) %}
                                                    <span class="text-color-admin">Administrator</span>
                                                {% elseif HasGroup(comment.user, UserGroups.Moderator) %}
                                                    <span class="text-color-moderator">Moderator</span>
                                                {% elseif HasGroup(comment.user, UserGroups.RankingSupervisor) %}
                                                    <span class="text-color-ranking-supervisor">Ranking Supervisor</span>
                                                {% else %}
                                                    <span>User</span>
                                                {% endif %}
                                            </div>
                                            <div class="media-meta">{{ formatDateDistance(comment.timestamp) }}</div>
                                        </div>
                                    </div>
                                    <p>{{ comment.comment }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% if currentUser and map.ranked_status != 2 and UserHelper.HasPrivilege(user.info, Privileges.RankMapsets) %}
                        <h5 class="mt-5">Leave a comment</h5>
                        <form>
                            <div class="form-group mb-4">
                                <textarea class="form-control queue-comment-textarea" rows="5"></textarea>
                                <small class="form-text text-muted">Your comment must be between 0 and 2,000 characters!</small>
                            </div>
                            <button type="button" class="btn btn-primary">Submit comment</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    {#    <h1>MAPSET</h1>#}
    {#    {{ dump(mapset) }}#}

    {#    <h1>MAP</h1>#}
    {#    {{ dump(map) }}#}

{% endblock %}

{% block style %}

{% endblock %}

{% block scripts %}

{% endblock %}