{% extends "layouts/app.twig" %}
{% block content %}

    <section class="bg-image bg-dark py-5 py-lg-7 px-4 px-lg-0" style="background-color: rgb(52, 53, 56) !important;">
        <img class="background" src="img/cover.jpg" alt="">
        <div class="container">
            <div class="row align-items-center text-center">
                <div class="col-md-8 mx-auto">
                    <h1 class="display-5 text-white font-weight-bold">
                        Maps
                    </h1>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <form method="GET">
{#                <input type="hidden" name="mode" value="{{ mode }}">#}
{#                <input type="hidden" name="status" value="{{ status }}">#}

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..." name="search" value="{{ search }}">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-light border-left-0">
                            <i class="ya ya-search m-0"></i>
                        </button>
                    </div>
                </div>

                <div class="widget mt-4">
                    <div class="widget-header">Filters</div>
                </div>
                <div class="card" id="filters">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-sm-2">Mode:</label>
                            <div class="col-sm-10">
                                <div class="form-check form-check-inline">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="mode" class="custom-control-input" id="mode1" value="1">
                                        <label class="custom-control-label" for="mode1">4 Keys</label>
                                    </div>
                                </div>
                                <div class="form-check form-check-inline">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="mode" class="custom-control-input" id="mode2" value="2">
                                        <label class="custom-control-label" for="mode2">7 Keys</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2">Status:</label>
                            <div class="col-sm-10">
                                <div class="form-check form-check-inline">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="status" class="custom-control-input" id="ranked" value="2">
                                        <label class="custom-control-label" for="ranked">Ranked</label>
                                    </div>
                                </div>
                                <div class="form-check form-check-inline">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="status" class="custom-control-input" id="unranked" value="1">
                                        <label class="custom-control-label" for="unranked">Unranked</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2">Difficulty rating:</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="number" name="mindiff" value="" placeholder="Min Rating">
                            </div>
                            <div class="col-sm-3">
                                <input class="form-control" type="number" name="maxdiff" value="" placeholder="Max Rating">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2">Length:</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="number" name="minlen" value="" placeholder="Min Length">
                            </div>
                            <div class="col-sm-3">
                                <input class="form-control" type="number" name="maxlen" value="" placeholder="Max Length">
                            </div>
                        </div>
                        <div class="text-center mb-3">
                            <a data-toggle="collapse" href="#advancedSearch" role="button" aria-expanded="false">Advanced Search</a>
                        </div>
                        <div class="collapse" id="advancedSearch">
                            <div class="form-group row">
                                <label class="col-sm-2">BPM:</label>
                                <div class="col-sm-3">
                                    <input class="form-control" type="number" name="minbpm" value="" placeholder="Min BPM">
                                </div>
                                <div class="col-sm-3">
                                    <input class="form-control" type="number" name="maxbpm" value="" placeholder="Max BPM">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2">Long Note %:</label>
                                <div class="col-sm-3">
                                    <input class="form-control" type="number" name="minnote" value="" placeholder="Min LN%">
                                </div>
                                <div class="col-sm-3">
                                    <input class="form-control" type="number" name="maxnote" value="" placeholder="Max LN%">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2">Ranked Play Count:</label>
                                <div class="col-sm-3">
                                    <input class="form-control" type="number" name="minpc" value="" placeholder="Min Plays">
                                </div>
                                <div class="col-sm-3">
                                    <input class="form-control" type="number" name="maxpc" value="" placeholder="Max Plays">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2">Max Combo:</label>
                                <div class="col-sm-3">
                                    <input class="form-control" type="number" name="mincombo" value="" placeholder="Min Combo">
                                </div>
                                <div class="col-sm-3">
                                    <input class="form-control" type="number" name="maxcombo" value="" placeholder="Max Combo">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2">Upload Date:</label>
                                <div class="col-sm-3">
                                    <input class="form-control" type="date" name="mindateu" value="" placeholder="Start Date">
                                </div>
                                <div class="col-sm-3">
                                    <input class="form-control" type="date" name="maxdateu" value="" placeholder="End Date">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2">Last Uploaded Date:</label>
                                <div class="col-sm-3">
                                    <input class="form-control" type="date" name="mindatelu" value="" placeholder="Start Date">
                                </div>
                                <div class="col-sm-3">
                                    <input class="form-control" type="date" name="maxdatelu" value="" placeholder="End Date">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="container">
            {% for map in maps %}
                <div class="mapset" style="background: linear-gradient(0deg, rgba(47, 47, 47, 0.2), rgba(47, 47, 47, 0.2)),
                        linear-gradient(0deg, rgba(10, 9, 9, 0.5), rgba(10, 9, 9, 0.5)), url('https://cdn.quavergame.com/banners/{{ map.id }}_banner.jpg');background-size: cover;">
                    <div class="mapset-info">
                        <div style="display: inline">
                            <div class="mapset-song {% if (map.artist~map.title)|length > 60 %}longboy{% endif %}">
                                <a href="{{ baseUrl('/mapset/'~map.id) }}">
                                    <span>{{ map.artist }} - {{ map.title }}</span>
                                </a>
                            </div>
                            <div class="mapset-difficulty">
                                By:
                                <a href="{{ baseUrl('/user/'~map.creator_id) }}" class="mr-4">{{ map.creator_username }}</a>
                                <i class="fas fa-chart-line"></i>
                                {{ min(map.difficulty_range)|number_format(2) }} - {{ max(map.difficulty_range)|number_format(2) }}
                            </div>
                        </div>
                        <div>
                            <div class="mapset-info-right">
                                {% if map.game_modes|length == 2 %}
                                    <div class="mapset-4k-7k">4K/7K</div>
                                {% elseif map.game_modes[0] == 1 %}
                                    <div class="mapset-4k">4K</div>
                                {% else %}
                                    <div class="mapset-7k">7K</div>
                                {% endif %}
                                {% if map.ranked_status == 2 %}
                                    <div class="mapset-ranked">Ranked</div>
                                {% else %}
                                    <div class="mapset-unranked">Unranked</div>
                                {% endif %}
                            </div>
                            <div class="mapset-info-download">
                                <a href="#">
                                    <i class="fas fa-download"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}

{% block style %}

{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            $('button').on('click', function () {
                const mode = $(this).data('mode');
                const status = $(this).data('status');
                if (mode) {
                    $('input[name=mode]').val(mode);
                }

                if (status) {
                    $('input[name=status]').val(status);
                }

                $('form').submit();
            });
        });
    </script>
{% endblock %}