{% extends "layouts/app.twig" %}

{% block content %}
    <section class="bg-image bg-dark py-5 py-lg-7 px-4 px-lg-0" style="background-color: rgb(52, 53, 56) !important;">
        <img class="background" src="{{ assets('/img/cover.jpg') }}" alt="">
        <div class="container">
            <div class="row align-items-center text-center">
                <div class="col-md-8 mx-auto">
                    <h1 class="display-5 text-white font-weight-bold">
                        Multiplayer Games
                    </h1>
                </div>
            </div>
        </div>
    </section>

    <section id="multiplayer">
        <div class="container">
            <div class="widget mt-4">
                <div class="widget-header">Live Games</div>
            </div>
            {% if not games.live %}
                <span class="text-white">There are no live games!</span>
            {% endif %}

            {% for game in games.live %}
                <div class="card mb-3">
                    <div class="post post-medium">
                        <div class="post-thumbnail mt-1 mb-2 ml-2 mb-md-0">
                            <a href="{{ baseUrl('/multiplayer/game/'~game.id) }}">
                                {% if game.map.mapset_id != "-1" %}
                                    <img class="post-img" src="https://cdn.quavergame.com/mapsets/{{ game.map.mapset_id }}.jpg" onerror="this.src='{{ assets("/img/mapset.jpg") }}'">
                                {% else %}
                                    <img class="post-img" src="{{ assets('/img/mapset.jpg') }}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="post-body mt-1">
                            <div class="float-right mt-4 mr-2">
                                <a href="{{ baseUrl('/multiplayer/game/'~game.id) }}" class="btn btn-youtube">
                                    <b class="text-white">Watch Live</b>
                                    <i class="fas fa-circle text-white"></i>
                                </a>
                            </div>
                            <div class="body-text">
                                <a href="{{ baseUrl('/multiplayer/game/'~game.id) }}">
                                    <b>{{ game.name }}</b>
                                </a>
                            </div>
                            <div class="body-text">
                                <b>Map:</b>
                                {% if game.map.id != "-1" %}
                                    <a href="{{ baseUrl('/mapset/map/'~game.map.id) }}">
                                        <a>{{ game.map.name|truncate(60) }}</a>
                                    </a>
                                {% else %}
                                    <span>{{ game.map.name }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="widget mt-4">
                <div class="widget-header">Recently Played Games</div>
            </div>
            {% for game in games.recently_played %}
                <div class="card mb-3">
                    <div class="post post-medium">
                        <div class="post-thumbnail mt-1 mb-2 ml-2 mb-md-0">
                            <a href="{{ baseUrl('/multiplayer/game/'~game.id) }}">
                                {% if game.map.mapset_id != "-1" %}
                                    <img class="post-img" src="https://cdn.quavergame.com/mapsets/{{ game.map.mapset_id }}.jpg" onerror="this.src='{{ assets("/img/mapset.jpg") }}'">
                                {% else %}
                                    <img class="post-img" src="{{ assets('/img/mapset.jpg') }}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="post-body mt-1 d-flex justify-content-between align-items-center">
                            <div>
                                <div>
                                    <a href="{{ baseUrl('/multiplayer/game/'~game.id) }}">
                                        <b>{{ game.name }}</b>
                                    </a>
                                </div>
                                <div class="mt-4">
                                    <b>Map:</b>
                                    {% if game.map.id != "-1" %}
                                        <a href="{{ baseUrl('/mapset/map/'~game.map.id) }}">
                                            <a>{{ game.map.name|truncate(60) }}</a>
                                        </a>
                                    {% else %}
                                        <span>{{ game.map.name }}</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div>
                                <div>
                                    <a href="{{ baseUrl('/multiplayer/game/'~game.id) }}" class="btn btn-primary btn-sm">
                                        <b class="text-white">View Match History</b>
                                        <i class="far fa-eye text-white"></i>
                                    </a>
                                </div>
                                <div class="mt-3 text-center">
                                    <b>{{ formatDateDistance(game.time_played) }}</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}

{% block style %}
    <style>
        .post-medium .post-thumbnail img {
            max-width: 100%;
            max-height: 100%;
        }

        .post-medium .post-thumbnail {
            width: 30%;
            height: 100px;
            min-height: 0 !important;
        }

        .post {
            padding: 14px 8px;
            margin-bottom: 3px;
            border: none;
        }

        .post-body {
            padding: 4px;
        }

        .body-text {
            padding: 5px;
        }
    </style>
{% endblock %}

{% block scripts %}

{% endblock %}