{% extends "layouts/app.twig" %}
{% block content %}

    <section class="bg-image bg-dark py-5 py-lg-7 px-4 px-lg-0" style="background-color: rgb(52, 53, 56) !important;">
        <img class="background" src="{{ assets('/img/cover.jpg') }}" alt="">
        <div class="container">
            <div class="row align-items-center text-center">
                <div class="col-md-8 mx-auto">
                    <h1 class="display-5 text-white font-weight-bold">
                        Playlists
                    </h1>
                </div>
            </div>
        </div>
    </section>

    <section id="playlists">
        <div class="container">
            {% include "layouts/alert.twig" %}
            <div class="mb-4">
                <form id="playlist_search" method="get" accept-charset="UTF-8">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for Playlists..." name="search" value="{{ search }}">
                        {% if currentUser %}
                        <div class="input-group-prepend">
                            <a href="{{ baseUrl('/playlist/create') }}" class="btn btn-success text-white">Create Playlist</a>
                        </div>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>

        <div class="container">
            <div class="row">
                {% include 'playlists/playlists.twig' %}
                <div id="playlist"></div>
            </div>
            <div class="text-center mt-4">
                <button type="button" class="btn btn-primary w-50" id="more">Load More</button>
            </div>
        </div>
    </section>
{% endblock %}

{% block style %}

{% endblock %}

{% block scripts %}
    <script src="{{ assets('/js/plugins/lazyload.min.js') }}"></script>
    <script defer src="{{ assets('/js/playlists.js') }}"></script>
{% endblock %}