{% extends "layouts/app.twig" %}
{% block content %}
    {% set main = assets("/img/cover.jpg") %}
    {% set cover = assets("/img/cover.jpg") %}
    {% if IsDonator(user.info.usergroups) %}
        {% set cover = "https://cdn.quavergame.com/profile-covers/"~user.info.id~".jpg" %}
    {% endif %}
    <section class="bg-image bg-dark d-flex align-items-end pt-0 lazy position-relative" style="min-height: 380px; background-size: cover; background-position: center center; padding-bottom: 10px;"
            data-bg-multi="linear-gradient(360deg, #1a1a20 1%, rgba(26, 26, 32, 0) 80%), url({{ cover }}), url({{ main }})">
        {% if CanAccessDashboard(currentUser.usergroups) %}
            <div class="position-absolute" style="top: 20px; right: 20px;">
                <a class="btn btn-primary btn-sm" href="https://a.quavergame.com/edituser/{{ user.info.id }}" target="_blank">Edit User</a>
            </div>
        {% endif %}
        <div class="container position-relative">
            <div class="row">
                <div class="col d-flex flex-column flex-lg-row align-items-center position-absolute bottom left pl-lg-8">
                    <div class="avatar-thumbnail avatar-lg d-lg-none bg-dark mb-3 mb-lg-0 border-0 avatar-badge">
                        <img src="{{ user.info.avatar_url }}" alt="">
                        {% if currentUser and currentUser.id != user.info.id %}
                            <div class="ml-lg-auto mt-2 mb-3 my-lg-0" id="friends">
                                {% if friend.relationship != 1 %}
                                    <form method="POST" accept-charset="UTF-8" action="{{ baseUrl('/friend/add') }}">
                                        <input type="hidden" name="id" value="{{ user.info.id }}">
                                        <a class="badge badge-primary text-white" onclick="this.closest('form').submit();return false;">
                                            <i class="ya ya-user-add"></i>
                                        </a>
                                    </form>
                                {% else %}
                                    <form method="POST" accept-charset="UTF-8" action="{{ baseUrl('/friend/remove') }}">
                                        <input type="hidden" name="id" value="{{ user.info.id }}">
                                        {% if friend.is_mutual %}
                                            <a class="badge mutual text-white" onclick="this.closest('form').submit();return false;">
                                                <i class="fas fa-heart"></i>
                                            </a>
                                        {% else %}
                                            <a class="badge badge-primary text-white" onclick="this.closest('form').submit();return false;">
                                                <i class="far fa-user"></i>
                                            </a>
                                        {% endif %}
                                    </form>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    <h2 class="h4 text-white mb-0 ml-2 pl-lg-8" id="user-card">
                        <a href="{{ baseUrl('/leaderboard?country='~user.info.country|lower) }}">
                            <img src="{{ assets('/img/flags/'~user.info.country~'.png') }}" alt="{{ user.info.country }}">
                        </a>
                        <a href="https://steamcommunity.com/profiles/{{ user.info.steam_id }}/" class="text-white" target="_blank">{{ user.info.username }}</a>
                        <div class="profile-groups">
                            <small>
                                {% if HasGroup(user.info, UserGroups.Developer) %}
                                    <span class="badge badge-custom-developer"><i class="fa fa-code fa-1"></i> Developer</span>
                                {% elseif HasGroup(user.info, UserGroups.Admin) %}
                                    <span class="badge badge-custom-admin"><i class="fa fa-gavel fa-1"></i> Administrator</span>
                                {% elseif HasGroup(user.info, UserGroups.Moderator) %}
                                    <span class="badge badge-custom-moderator"><i class="fa fa-ban fa-1"></i> Moderator</span>
                                {% elseif HasGroup(user.info, UserGroups.RankingSupervisor) %}
                                    <span class="badge badge-custom-ranking-supervisor"><i class="fa fa-gavel fa-1"></i> Ranking Supervisor</span>
                                {% elseif HasGroup(user.info, UserGroups.Contributor) %}
                                    <span class="badge badge-custom-contributor"><i class="fa fa-wrench fa-1"></i> Contributor</span>
                                {% elseif HasGroup(user.info, UserGroups.Donator) %}
                                    <span class="badge badge-custom-donator"><i class="fa fa-heart fa-1"></i> Donator</span>
                                {% endif %}
                            </small>
                        </div>
                        <div class="status">
                            {% if user.online_status.is_online %}
                                <span class="circle online"></span>
                                {% if user.online_status.current_status %}
                                    {% if user.online_status.current_status.status == 0 %}
                                        In menus
                                    {% elseif user.online_status.current_status.status == 1 %}
                                        Selecting a Song
                                    {% elseif user.online_status.current_status.status == 2 %}
                                        Playing {{ user_status.current_status.content.split('/\[\w*\]$/')[0] }}
                                    {% elseif user.online_status.current_status.status == 3 %}
                                        Paused
                                    {% elseif user.online_status.current_status.status == 4 %}
                                        Watching {{ user.online_status.current_status.content }}
                                    {% elseif user.online_status.current_status.status == 5 %}
                                        Editing {{ user.online_status.current_status.content }}
                                    {% elseif user.online_status.current_status.status == 6 %}
                                        In Multiplayer Lobby
                                    {% elseif user.online_status.current_status.status == 7 %}
                                        Playing Multiplayer {{ user.online_status.current_status.content }}
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <span class="circle offline"></span>Offline
                            {% endif %}
                        </div>
                    </h2>
                    {% if currentUser and currentUser.id != user.info.id %}
                        <div class="ml-lg-auto mt-2 mb-3 my-lg-0 friend-badge">
                            {% if friend.relationship != 1 %}
                                <form method="POST" accept-charset="UTF-8" action="{{ baseUrl('/friend/add') }}">
                                    <input type="hidden" name="id" value="{{ user.info.id }}">
                                    <button class="btn btn-primary btn-sm btn-icon-left font-weight-semibold">
                                        <i class="ya ya-user-add"></i>
                                        Add friend
                                    </button>
                                </form>
                            {% else %}
                                <form method="POST" accept-charset="UTF-8" action="{{ baseUrl('/friend/remove') }}">
                                    <input type="hidden" name="id" value="{{ user.info.id }}">
                                    {% if friend.is_mutual %}
                                        <button class="btn mutual btn-sm btn-icon-left font-weight-semibold">
                                            <span><i class="fas fa-heart fa-fw"></i> Mutual</span>
                                            <span><i class="fas fa-user-times"></i> Remove</span>
                                        </button>
                                    {% else %}
                                        <button class="btn friend btn-sm btn-icon-left font-weight-semibold">
                                            <span><i class="far fa-user"></i> Friend</span>
                                            <span><i class="fas fa-user-times"></i> Remove</span>
                                        </button>
                                    {% endif %}
                                </form>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <div id="sticky-wrapper" class="sticky-wrapper" style="height: 63px;">
        <section class="bg-quaver-nav border-bottom nav-profile py-0" ya-sticky="" style="">
            <div class="container">
                <div class="row">
                    <div class="col d-flex align-items-center">
                        <a class="avatar-thumbnail avatar-xl position-absolute d-none d-lg-block" href="#">
                            <img src="{{ user.info.avatar_url }}" alt="" width="188" height="188">
                        </a>
                        <div class="avatar-fixed d-none d-lg-block">
                            <a class="avatar-tile" href="https://steamcommunity.com/profiles/{{ user.info.steam_id }}/" target="_blank">
                                <img src="{{ user.info.avatar_url }}" alt="" width="50" height="50">
                                <div class="text-white">
                                    <strong>{{ user.info.username }}</strong>
                                    <div class="profile-groups">
                                        {% if HasGroup(user.info, UserGroups.Developer) %}
                                            <span class="badge badge-custom-developer"><i class="fa fa-code fa-1"></i> Developer</span>
                                        {% elseif HasGroup(user.info, UserGroups.Admin) %}
                                            <span class="badge badge-custom-admin"><i class="fa fa-gavel fa-1"></i> Administrator</span>
                                        {% elseif HasGroup(user.info, UserGroups.Moderator) %}
                                            <span class="badge badge-custom-moderator"><i class="fa fa-ban fa-1"></i> Moderator</span>
                                        {% elseif HasGroup(user.info, UserGroups.RankingSupervisor) %}
                                            <span class="badge badge-custom-ranking-supervisor"><i class="fa fa-gavel fa-1"></i> Ranking Supervisor</span>
                                        {% elseif HasGroup(user.info, UserGroups.Contributor) %}
                                            <span class="badge badge-custom-contributor"><i class="fa fa-wrench fa-1"></i> Contributor</span>
                                        {% elseif HasGroup(user.info, UserGroups.Donator) %}
                                            <span class="badge badge-custom-donator"><i class="fa fa-heart fa-1"></i> Donator</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="nav-scroll">
                            <div class="nav nav-list nav-list-profile">
                                <a class="nav-item nav-link" href="#feed">Stats & Feed</a>
                                <a class="nav-item nav-link" href="#rank-judgements">Rank Progression</a>
                                <a class="nav-item nav-link" href="#scores">Scores</a>
                                {# <a class="nav-item nav-link" href="#rank-judgements">Judgement Breakdown</a> #}
                                <a class="nav-item nav-link" href="#maps">Maps</a>
                                <a class="nav-item nav-link" href="#playlists">Playlists</a>
                                <a class="nav-item nav-link" href="#achievements">Achievements</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="py-lg-4">
        <div class="container">
            {% include 'user/user-profile-info.twig' %}
            {% include 'user/user-profile-graphs.twig' %}
            {% include 'user/user-profile-scores.twig' %}
            {% include 'user/user-profile-mapsets.twig' %}
            {% include 'user/user-profile-playlists.twig' %}
            {% include 'user/user-profile-achievements.twig' %}
        </div>
    </section>
{% endblock %}

{% block style %}{% endblock %}

{% block scripts %}
    {% set game_mode = 'keys' ~ (mode == 1 ? '4' : '7') %}
    <script>
        let mapsPages = {
            "page_1": 1,
            "page_2": 1
        };

        const rank = JSON.parse('{{ user.statistics }}');
        const currentRank = parseInt("{{ user[game_mode].globalRank }}")
    </script>
    <script defer src="{{ assets('/js/plugins/moment.min.js') }}"></script>
    <script defer src="{{ assets('/js/plugins/chart.min.js') }}"></script>
    <script defer src="{{ assets('/js/user.js') }}"></script>
    <script defer src="{{ assets('/js/artists.js') }}"></script>
{% endblock %}

{% block page_scripts %}{% endblock %}