<div class="card">
    <div class="mapsets position-relative" id="map">
        <div class="cover position-relative" style="background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
                url('https://cdn.quavergame.com/mapsets/{{ live.map.mapset_id }}.jpg')">
            <div class="status">
                <div class="qadge {% modesBadgeClass([live.map.game_mode]) %}">{% modesBadgeLabel([live.map.game_mode]) %}</div>
            </div>
            <div class="song-name">
                <span class="title" id="map_song">{{ live.map.map | truncate(70) }}</span>
                <div class="d-flex justify-content-between align-items-end">
                    <div>
                        <div class="creator">Global mods:
                            <span class="cr">{{ live.rules.mods_string }}</span>
                        </div>
                        <div class="creator">Ruleset:
                            <span class="cr">
                                                {% if live.rules.ruleset == rulesets.Free_For_All %}
                                                    Free-For-All
                                                {% elseif live.rules.ruleset == rulesets.Team %}
                                                    Team
                                                {% else %}
                                                    Battle Royale
                                                {% endif %}
                            </span>
                        </div>
                    </div>
                    {% if live.map.id != -1 %}
                    <div>
                        <a href="{{ baseUrl('/mapset/map/'~live.map.id) }}" class="btn btn-primary btn-xs text-white">
                            View Mapset
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if live.game.in_progress %}
        {% include './scores.twig' with {'type': type, 'teams': teams, 'scores': live.players, 'live': true } %}
    {% else %}
        <table class="table align-items-center">
            <thead>
            <tr style="font-size: 12px;">
                <th scope="col" style="width: 5%">#</th>
                <th scope="col" class="player" style="width: 20%">Player</th>
                <th scope="col" style="width: 10%">Wins</th>
                <th scope="col" style="width: 10%">Has Map</th>
                <th scope="col" style="width: 10%">Is Ready</th>
                <th scope="col" style="width: 20%">Mods</th>
            </tr>
            </thead>
            <tbody>
            {% for player in live.players %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td style="text-align: left;" class="player">
                        <a href="{{ baseUrl('/user/'~player.id) }}">
                            <img src="{{ assets('/img/flags/'~player.country~'.png') }}" alt="{{ player.country }}">
                        </a>
                        <a href="{{ baseUrl('/user/'~player.id) }}">{{ player.username }}</a>
                    </td>
                    <td>
                        {% if live.rules.ruleset == rulesets.Team %}
                            {% if player.team == 1 %}
                                {{ live.team_scores.blue_team }}
                            {% else %}
                                {{ live.team_scores.red_team }}
                            {% endif %}
                        {% else %}
                            {{ player.wins }}
                        {% endif %}
                    </td>
                    <td>
                        {{ (player.has_map) ? 'Yes' : 'No' }}
                    </td>
                    <td>
                        {{ (player.is_ready) ? 'Yes' : 'No' }}
                    </td>
                    <td>
                        {{ player.mods_string }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>