<div class="player-card">
    <div class="offset-card">
        <div class="player-cover lazy"
             data-bg-multi="linear-gradient(360deg, rgb(26, 26, 32) 1%, rgba(26, 26, 32, 0.5) 100%), url({{ cover }})">
            <div class="player-info">
                <div class="player-name">
                    <div class="player-n">
                        <a href="{{ baseUrl('/user/'~player.user_id) }}">
                            <img data-src="{{ assets('/img/flags/'~player.country~'.png') }}"
                                 alt="{{ player.country|upper }}" class="lazy"> {{ player.username }}
                        </a>
                    </div>
                    <div class="player-s status">
                        {% if player.online %}
                            <span class="circle online"></span>
                            Online
                        {% else %}
                            <span class="circle offline"></span>
                            Offline
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if clan.favorite_mode and favorite_mode.favorite_mode == 2 %}
                {% set game_mode = 2 %}
                <div class="player-mode">
                    <div class="player-mode-keys7">7K</div>
                </div>
            {% else %}
                {% set game_mode = 1 %}
                <div class="player-mode">
                    <div class="player-mode-keys4">4K</div>
                </div>
            {% endif %}
        </div>
        <div class="player-stats">
            <div class="player-gr d-flex justify-content-between align-items-center">
                <div>Global ranking:</div>
                <span>#{{ player[game_mode].globalRank|number_format }}</span>
            </div>
            <div class="player-or d-flex justify-content-between align-items-center">
                <div>Overall rating:</div>
                <span>{{ player[game_mode].stats.overall_performance_rating|number_format(2) }}</span>
            </div>
        </div>
    </div>
    <div class="player-avatar">
        <a href="{{ baseUrl('/user/'~player.user_id) }}">
            <img data-src="{{ player.avatar_url }}" class="lazy" alt="{{ player.username }}">
        </a>
    </div>
</div>