{% for score in data %}
    <tr style="text-align: center">
        <td>
            <img data-src="{{ assets('/img/grades/'~score.grade~'.png') }}" alt="{{ score.grade }}" title="{{ score.grade }}" width="30px" height="30px" class="lazy">
        </td>
        <td class="song">
            <a href="{{ baseUrl('/mapset/map/'~score.map.id) }}">{{ score.map.artist|escape }} - {{ score.map.title|escape }} [{{ score.map.difficulty_name|truncate(55)|escape }}]</a>
            <br>
            <span data-toggle="tooltip" title="{{ formatDate(score.time) }}">{{ formatDateDistance(score.time) }}</span>
        </td>
        <td>{{ score.performance_rating|number_format(2) }}</td>
        <td>{{ score.accuracy|number_format(2) }}%</td>
        <td>{{ score.mods_string }}</td>
        <td>
            {% if score.personal_best or score.tournament_game_id %}
                <a href="{{ baseUrl('/download/replay/'~score.id) }}">
                    <i class="fas fa-download" data-toggle="tooltip" title="Download" data-original-title="Download"></i>
                </a>
            {% else %}
                None
            {% endif %}
        </td>
        <td>
            <a data-toggle="collapse" href="#score_{{ table }}_{{ score.id }}" data-target="#score_{{ table }}_{{ score.id }}">
                <i class="fas fa-angle-down"></i>
            </a>
        </td>
    </tr>
{#    onclick="loadChart('{{ table }}', {{ score.id }}, {{ score.count_marv }}, {{ score.count_perf }}, {{ score.count_great }}, {{ score.count_good }}, {{ score.count_okay }}, {{ score.count_miss }});"#}
    <tr>
        <td colspan="7" style="padding: 0;">
            <div class="accordian-body collapse" data-parent="#scores" id="score_{{ table }}_{{ score.id }}" style="overflow: hidden;">
                <div class="row score-info" style="padding-bottom: 25px;">
                    <div class="col-sm-3">
                        <h6 class="mt-4">Score</h6>
                        <span class="font-weight-light font-size-md">{{ score.total_score|number_format(0, '.', ',') }}</span>
                    </div>
                    <div class="col-sm-3">
                        <h6 class="mt-4">Scroll Speed</h6>
                        <span class="font-weight-light font-size-md">{{ (score.scroll_speed > 99) ? score.scroll_speed/10 : score.scroll_speed }}</span>
                    </div>
                    <div class="col-sm-3">
                        <h6 class="mt-4">Max Combo</h6>
                        <span class="font-weight-light font-size-md">{{ score.max_combo }}x</span>
                    </div>
                    <div class="col-sm-3">
                        <h6 class="mt-4">Ratio</h6>
                        <span class="font-weight-light font-size-md">{{ score.ratio|number_format(2) }}</span>
                    </div>
                </div>
{#                <div class="row">#}
{#                    <div class="col-sm-6 d-sm-block">#}
{#                        <canvas class="chartScore_{{ table }}_{{ score.id }}" style="height: 269px;"></canvas>#}
{#                    </div>#}
{#                    <div class="col-md-12">#}
{#                        <canvas class="scatterScore_{{ table }}_{{ score.id }}" ></canvas>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </td>
    </tr>
{% endfor %}