{% extends "layouts/app.twig" %}
{% block content %}
    <section class="bg-image bg-dark py-5 py-lg-7 px-4 px-lg-0" style="background-color: rgb(52, 53, 56) !important;">
        <img class="background" src="{{ assets('/img/cover.jpg') }}" alt="">
        <div class="container">
            <div class="row align-items-center text-center">
                <div class="col-md-8 mx-auto">
                    <h1 class="display-5 text-white font-weight-bold">
                        Settings
                    </h1>
                </div>
            </div>
        </div>
    </section>

    <section id="playlists">
        <div class="container">
            {% include "layouts/alert.twig" %}
            <form action="{{ baseUrl('/settings') }}" method="post">
                <div class="widget mt-4">
                    <div class="widget-header">Profile Settings</div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label>Default mode</label>
                            <select name="information[default_mode]" class="form-control">
                                <option value="1" {% if not information.default_mode or information.default_mode == 1 %} selected {% endif %}>Keys 4</option>
                                <option value="2" {% if information.default_mode == 2 %}selected{% endif %}>Keys 7</option>
                            </select>
                        </div>
                        <button class="btn btn-primary" type="submit" name="submit">Save</button>
                    </div>
                </div>
                <div class="widget mt-4">
                    <div class="widget-header">Profile Information</div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label>Discord</label>
                            <input type="text" class="form-control" name="information[discord]" minlength="1" max="37" value="{{ information.discord }}">
                        </div>
                        <div class="form-group">
                            <label>Twitter</label>
                            <input type="text" class="form-control" name="information[twitter]" minlength="4" maxlength="15" value="{{ information.twitter }}">
                        </div>
                        <div class="form-group">
                            <label>Twitch</label>
                            <input type="text" class="form-control" name="information[twitch]" minlength="4" maxlength="25" value="{{ information.twitch }}">
                        </div>
                        <div class="form-group">
                            <label>YouTube Url</label>
                            <input type="text" class="form-control" name="information[youtube]" minlength="20" maxlength="100" pattern="http(?:s?):\/\/(?:www\.)?youtu(?:be\.com\/(user|channel))\/(.*)" value="{{ information.youtube }}">
                        </div>
                        <button class="btn btn-primary" type="submit" name="submit">Save</button>
                    </div>
                </div>

                <div class="widget mt-4">
                    <div class="widget-header">Notifications</div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="notif_action_mapset"
                                        name="information[notif_action_mapset]" value="true"
                                {{ (information.notif_action_mapset) ? "checked" : "" }}>
                                <label class="custom-control-label" for="notif_action_mapset">
                                    Receive discord mention for action taken to your mapset (Discord needs to be linked!)
                                </label>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit" name="submit">Save</button>
                    </div>
                </div>
            </form>
            <div class="widget mt-4">
                <div class="widget-header">Connect your Discord account</div>
            </div>
            <div class="card">
                <div class="card-body">
                    <p>
                        If you’re a member of our
                        <a href="https://discord.gg/nJa8VFr" target="_blank">Discord server</a>
                        , you
                        have the ability to get an exclusive donator role.
                        <br>
                        Receive Discord notifications when actions are placed on your mapsets in the ranking queue.
                        <br>
                        <br>
                        Join the server first, and then link your Discord account.
                        <br>
                        <br>
                        <strong>Note:</strong>
                        If you leave the server, you will have to re-link your Discord if you rejoin to get the role back.
                    </p>
                    {% if not currentUser.discord_id %}
                        <a class="btn btn-discord btn-block" href="{{ discord }}">
                            <i class="ya ya-discord"></i>
                            Connect
                        </a>
                    {% else %}
                        <a class="btn btn-danger btn-block" href="{{ baseUrl('/donate/unlink') }}">
                            <i class="ya ya-discord"></i>
                            Unlink
                        </a>
                    {% endif %}
                </div>
            </div>

        </div>
    </section>

{% endblock %}

{% block scripts %}
{% endblock %}

{% block page_scripts %}
{% endblock %}

{% block style %}
{% endblock %}
