{% extends "layouts/app.twig" %}
{% block content %}
    <section class="bg-image bg-dark py-5 py-lg-7 px-4 px-lg-0" style="background-color: rgb(52, 53, 56) !important;">
        <img class="background" src="{{ assets('/img/cover.jpg') }}" alt="">
        <div class="container">
            <div class="row align-items-center text-center">
                <div class="col-md-8 mx-auto">
                    <h1 class="display-5 text-white font-weight-bold">
                        Settings
                    </h1>
                </div>
            </div>
        </div>
    </section>

    <section id="playlists">
        <div class="container">
            {% include "layouts/alert.twig" %}
            {% if IsDonator(currentUser.usergroups) %}
                <div class="widget mt-4">
                    <div class="widget-header">About Me</div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <form accept-charset="UTF-8" enctype="multipart/form-data" method="POST">
                            <div class="form-group">
                                <textarea class="form-control" rows="10" name="aboutme">{{ bio }}</textarea>
                                <small class="form-text text-muted">
                                    <a href="#" data-toggle="modal" data-target="#bbcode">BBCode Cheatsheet</a>
                                </small>
                            </div>
                            <button type="submit" name="submitAboutme" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>

                <div class="widget mt-4">
                    <div class="widget-header">Profile Cover</div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <form accept-charset="UTF-8" enctype="multipart/form-data" method="POST">
                            <div class="form-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="profile_cover" id="profile_cover">
                                    <label class="custom-file-label" for="profile_cover">Choose image</label>
                                    <small class="form-text text-muted">Preferred size 1920x380, jpg and jpeg only</small>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit" name="submitCover">Upload</button>
                        </form>
                    </div>
                </div>

                <div class="widget mt-4">
                    <div class="widget-header">Change username</div>
                </div>
                <div class="card">
                    <div class="card-body">
                        {% if canChange.canChange %}
                            <form accept-charset="UTF-8" enctype="multipart/form-data" method="POST">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="username" placeholder="{{ currentUser.username }}"
                                            pattern="[A-Za-z0-9](?!.* {2})[ A-Za-z0-9]{1,13}[A-Za-z0-9]">
                                    <small class="form-text text-muted">You can change username once every 30 days</small>
                                </div>
                                <button class="btn btn-primary" type="submit" name="submitUsername">Change</button>
                            </form>
                        {% else %}
                            You can change your username in {{ canChange.time.days }} days, {{ canChange.time.hours }} hours and {{ canChange.time.minutes }} minutes
                        {% endif %}
                    </div>
                </div>

            {% endif %}
        </div>
    </section>

    {% include "../modals/BBCode.twig" %}
{% endblock %}

{% block scripts %}
    <script>
        $(document).on('change', '#profile_cover', function () {
            const label = $('label[for=profile_cover]');
            try {
                const name = $(this)[0].files[0].name;
                label.text(name);
            } catch (e) {
                label.text('Choose image');
            }
        });
    </script>
{% endblock %}

{% block page_scripts %}
{% endblock %}

{% block style %}
{% endblock %}