<div>
    <div class="nav-tab-scroll">
        <div class="nav nav-tabs" id="tab-grades" role="tablist">
            {% set found = false %}
            {% set active = false %}
            {% for grade in grades %}
                {% if not found and user[game_mode]['stats']['count_grade_' ~ (grade|lower)] != 0 %}
                    {% set active = true %}
                    {% set found = true %}
                {% else %}
                    {% set active = false %}
                {% endif %}
                <a class="nav-item nav-link {{ active ? "active" : "" }} d-flex align-items-center" id="grades-{{ grade }}-tab" data-toggle="tab" href="#grades_{{ grade }}"
                        role="tab" aria-controls="grades_{{ grade }}" aria-selected="false" data-grade="{{ grade }}">
                    <img src="{{ assets('/img/grades/'~grade~'.png') }}" width="22px" alt="{{ grade }}">
                    <span class="ml-2">{{ user[game_mode]['stats']['count_grade_' ~ (grade|lower)] }}</span>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="tab-content" id="tab-grades">
        {% set found = false %}
        {% set active = false %}
        {% for grade in grades %}
            {% if not found and user[game_mode]['stats']['count_grade_' ~ (grade|lower)] != 0 %}
                {% set active = true %}
                {% set found = true %}
                <script>
                    document.addEventListener("DOMContentLoaded", function (event) {
                        loadGradeScores("{{ grade }}", "#loader-grades-{{ grade }}");
                    });
                </script>
            {% else %}
                {% set active = false %}
            {% endif %}
            <div class="tab-pane {{ active ? "fade show active" : "" }}" id="grades_{{ grade }}" role="tabpanel" aria-labelledby="grades_{{ grade }}">
                <div>
                    <div class="table-responsive" id="leaderboard">
                        <table class="table align-items-center" id="table_{{ table }}">
                            <thead>
                            <tr style="text-align: center">
                                <th scope="col" style="width: 5%;">Grade</th>
                                <th scope="col">Song</th>
                                <th scope="col" style="width: 20%;">Performance Rating</th>
                                <th scope="col" style="width: 5%;">Accuracy</th>
                                <th scope="col" style="width: 5%;">Mods</th>
                                <th scope="col" style="width: 5%;">Replay</th>
                                <th scope="col" style="width: 5%;">Info</th>
                            </tr>
                            </thead>
                            <tbody id="grades_{{ grade }}_table">
                            </tbody>
                        </table>
                    </div>
                    <div style="padding-bottom: 20px;" id="loader-grades-{{ grade }}">
                        <div class="aj-loading" style="margin-bottom: 0;"></div>
                    </div>
                    <a href="javascript:void(0)" class="grades_more" data-grade="{{ grade }}">
                        <div class="load-more">
                            <i class="fas fa-angle-down"></i>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>