<div class="row mg-bottom" id="feed">
    <div class="col d-flex align-items-center">
        <div class="avatar-fixed d-none d-lg-block" style="width: 245px"></div>
        <div class="widget profile-badges" style="min-height: 40px;">
            {% for badge in user.profile_badges %}
                <img src="https://cdn.quavergame.com/badges/{{ badge.id }}.png" width="80px" height="40px" data-toggle="tooltip" title="{{ badge.name }}

{{ badge.description }}">
            {% endfor %}
        </div>
    </div>
    <div class="col-lg-12 mt-3">
        {% if not user.info.allowed %}
            <div class="alert alert-darken-danger show" role="alert">
                User is banned!
            </div>
        {% endif %}
        {% if bio or user.info.information %}
{#            <div class="widget">#}
{#                <div class="widget-header d-flex justify-content-between">#}
{#                    About Me#}
{#                    {% if currentUser.id == user.info.id and IsDonator(user.info.usergroups) %}#}
{#                        <a href="{{ baseUrl('/settings/donator') }}">#}
{#                            <i class="far fa-edit"></i>#}
{#                        </a>#}
{#                    {% endif %}#}
{#                </div>#}
{#            </div>#}
{#            {% if bio and IsDonator(user.info.usergroups) %}#}
{#                <div class="widget widget-secondary">#}
{#                    <div class="widget-body" id="userpage" style="position:relative;">#}
{#                        {% if bio %}#}
{#                            {% for line in bio %}#}
{#                                {% if line == "" %}#}
{#                                    <br>#}
{#                                {% else %}#}
{#                                    {{ line }}#}
{#                                {% endif %}#}
{#                            {% endfor %}#}
{#                        {% endif %}#}
{#                    </div>#}
{#                </div>#}
{#            {% endif %}#}
            {% if user.info.information %}
                <div class="widget widget-secondary">
                    <div class="widget-body" style="padding: 5px;">
                        {% for key, info in user.info.information %}
                            {% if info %}
                                {% if key == "discord" %}
                                    <button onclick="copyToClipboard(this)" class="btn btn-social btn-discord btn-sm btn-sc"
                                            data-toggle="tooltip" title="Click to copy">
                                        <i class="ya ya-discord"></i> {{ info }}</button>
                                {% elseif key == "notif_action_mapset" %}
                                {% elseif key == "default_mode" %}
                                {% else %}
                                    {% set url = "" %}
                                    {% set name = "" %}
                                    {% if key == "twitch" %}
                                        {% set url = "https://www.twitch.tv/" %}
                                        {% set name = "Twitch" %}
                                    {% elseif key == "twitter" %}
                                        {% set url = "https://twitter.com/" %}
                                        {% set name = "Twitter" %}
                                    {% elseif key == "youtube" %}
                                        {% set url = "" %}
                                        {% set name = "YouTube" %}
                                    {% endif %}
                                    <a href="{{ url ~ info }}" class="btn btn-social btn-{{ key }} btn-sm btn-sc" target="_blank">
                                        <i class="ya ya-{{ key }}"></i> {{ name }}</a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if currentUser.id == user.info.id%}
                            <a href="{{ baseUrl('/settings') }}" class="float-right">
                                <i class="far fa-edit"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
    <div class="col-md-4 mt-3">
        <div class="widget">
            <div class="widget-header d-flex justify-content-between">
                <div>Statistics</div>
                <div class="mode-switch">
                    <a href="{{ baseUrl('/user/'~user.info.id~'?mode=1') }}" class="mode-4 {% if mode == 1 %}active{% endif %}">
                        <div>4K</div>
                    </a>
                    <a href="{{ baseUrl('/user/'~user.info.id~'?mode=2') }}" class="mode-7 {% if mode == 2 %}active{% endif %}">
                        <div>7K</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="widget widget-secondary">
            {% set game_mode = 'keys' ~ (mode == 1 ? '4' : '7') %}
            <div class="widget-body widget-padding mb-3">
                <ul class="statistics">
                    <li>Global Rank
                        <span>#{{ user[game_mode].globalRank|number_format(0, '.', ',') }}</span>
                    </li>
                    <li>Country Rank
                        <span>#{{ user[game_mode].countryRank|number_format(0, '.', ',') }}</span>
                    </li>
                    <li>Multiplayer Wins Rank
                        <span>#{{ user[game_mode].multiplayerWinRank|number_format(0, '.', ',') }}</span>
                    </li>
                </ul>
            </div>
            <div class="widget-body widget-padding mb-3">
                <ul class="statistics">
                    <li>Overall Rating
                        <span>{{ user[game_mode].stats.overall_performance_rating|number_format(2) }}</span>
                    </li>
                    <li>Accuracy
                        <span>{{ user[game_mode].stats.overall_accuracy|number_format(2) }}%</span>
                    </li>
                    <li>Ranked Score
                        <span>{{ user[game_mode].stats.ranked_score|number_format(0, '.', ',') }}</span>
                    </li>
                    <li>Total Score
                        <span>{{ user[game_mode].stats.total_score|number_format(0, '.', ',') }}</span>
                    </li>
                    <li>Max Combo
                        <span>{{ user[game_mode].stats.max_combo|number_format(0, '.', ',') }}</span>
                    </li>
                    <li>Play Count
                        <span>{{ user[game_mode].stats.play_count|number_format(0, '.', ',') }}</span>
                    </li>
                    <li>Multiplayer Record
                        <span>{{ user[game_mode].stats.multiplayer_wins }}W - {{ user[game_mode].stats.multiplayer_losses }}L - {{ user[game_mode].stats.multiplayer_ties }}T</span>
                    </li>
                </ul>
            </div>
            <div class="widget-body widget-padding">
                <ul class="statistics">
                    <li>Date Registered
                        <span data-toggle="tooltip" title="{{ formatDate(user.info.time_registered) }}">{{ formatDateDistance(user.info.time_registered) }}</span>
                    </li>
                    <li>Last Seen
                        <span data-toggle="tooltip" title="{{ formatDate(user.info.latest_activity) }}">{{ formatDateDistance(user.info.latest_activity) }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8 mt-3">
        <div class="widget">
            <div class="widget-header">Feed</div>
        </div>
        <div class="widget widget-secondary">
            <div class="widget-body">
                <ul class="feed">
                    {% for feed in user.activity_feed %}
                        <li>
                            {% set u = "<a href='/user/" ~ user.info.id ~ "'>" ~ user.info.username ~ "</a>" %}
                            {% set map = "<a href='/mapset/map/" ~ feed.map.id ~ "'>" ~ feed.map.name|escape|truncate(50) ~ "</a>" %}
                            {% set mapset = "<a href='/mapset/" ~ feed.map.id ~ "'>" ~ feed.map.name|escape|truncate(50) ~ "</a>" %}
                            {% if feed.type == 0 %}
                                <div class="feed-icon">
                                    <i class="fa fa-user-plus"></i>
                                </div>
                                {{ u|raw }} has just registered for Quaver!
                            {% elseif (feed.type == 1) %}
                                <div class="feed-icon">
                                    <i class="fa fa-file-upload"></i>
                                </div>
                                {{ u|raw }} has uploaded a new mapset: {{ mapset|raw }}
                            {% elseif (feed.type == 2) %}
                                <div class="feed-icon">
                                    <i class="fa fa-file-export"></i>
                                </div>
                                {{ u|raw }} has updated mapset: {{ mapset|raw }}
                            {% elseif (feed.type == 3) %}
                                <div class="feed-icon">
                                    <i class="fa fa-check-circle"></i>
                                </div>
                                {{ u|raw }} has just ranked mapset: {{ mapset|raw }}
                            {% elseif (feed.type == 4) %}
                                <div class="feed-icon">
                                    <i class="fa fa-times-circle"></i>
                                </div>
                                {{ u|raw }} has gotten denied from rank for mapset: {{ mapset|raw }}
                            {% elseif (feed.type == 5) %}
                                <div class="feed-icon">
                                    <i class="fa fa-trophy"></i>
                                </div>
                                {{ u|raw }} has achieved first place on {{ map|raw }}
                            {% elseif (feed.type == 6) %}
                                <div class="feed-icon">
                                    <i class="fa fa-times"></i>
                                </div>
                                <div class="feed-text">
                                    {{ u|raw }} has lost first place on {{ map|raw }}
                                </div>
                            {% elseif (feed.type == 7) %}
                                <div class="feed-icon">
                                    <i class="fa fa-medal"></i>
                                </div>
                                {{ u|raw }} has unlocked achievement: {{ feed.map.name }}
                            {% elseif (feed.type == 8) %}
                                <div class="feed-icon">
                                    <i class="fa fa-heart"></i>
                                </div>
                                {{ u|raw }} has generously donated to Quaver!
                            {% elseif (feed.type == 9) %}
                                <div class="feed-icon">
                                    <i class="fa fa-gift"></i>
                                </div>
                                {{ u|raw }} has received a gift for donator perks!
                            {% endif %}
                            <div class="timestamp">
                                <span data-toggle="tooltip" title="{{ formatDate(feed.timestamp) }}">{{ formatDateDistance(feed.timestamp) }}</span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
