<meta name="robots" content="noindex">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{ title }}</title>

<link rel="stylesheet" href="{{ assets('/css/theme.css') }}">
<link rel="stylesheet" href="{{ assets('/css/quaver.css') }}">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap&subset=latin-ext" rel="stylesheet">

<link rel="icon" type="image/x-icon" href="{{ assets('/img/favicon.ico') }}"/>

{% if user %}
    <meta name="description" content="Quaver - Everything you ever wanted to know about {{ user.info.username }}">
    {% if user.info.avatar_url %}
        <meta property="og:image" content="{{ user.info.avatar_url }}" />
    {% endif %}
{% endif %}