<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{ title }}</title>

<link rel="stylesheet" href="{{ assets('/styles/app.css', true) }}">
{#<link rel="stylesheet" href="{{ assets('/css/quaver.css', true) }}">#}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap&subset=latin-ext" rel="stylesheet">

<meta name="keywords" content="quaver, rhythm, game, rhythm, game, competitive, windows, mac, osx, linux, c#, c-sharp, monogame, qua, music">
<meta name="author" content="The Quaver Team">

<link rel="icon" type="image/x-icon" href="{{ assets('/img/favicon.ico') }}" />

<link rel="preconnect" href="https://steamcdn-a.akamaihd.net">
<link rel="preconnect" href="https://www.google-analytics.com">
<link rel="preconnect" href="https://fonts.gstatic.com">

{% if description %}
    <meta name="description" content="{{ description }}">
    <meta property="og:image" content="{{ assets('/img/favicon.png') }}" />
{% else %}
    {% if user %}
        <meta name="description" content="{{ user.info.username }}'s profile">
        {% if user.info.avatar_url %}
            <meta property="og:image" content="{{ user.info.avatar_url }}" />
        {% endif %}
    {% endif %}
{% endif %}

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120902211-3"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-120902211-3');
</script>
