<div class="table-responsive" id="leaderboard" style="margin-top: 1rem;">
    <table class="table align-items-center">
        <thead>
        <tr>
            <th scope="col" style="width: 10%">Rank</th>
            <th scope="col" style="width: 35%">Player</th>
            <th scope="col">Wins</th>
            <th scope="col">Losses</th>
            <th scope="col">Ties</th>
        </tr>
        </thead>
        <tbody>
        {% for player in leaderboard %}
            <tr>
                <td>{{ player.stats.rank }}</td>
                <td>
                    <a href="#">
                        <img src="/img/flags/{{ player.country }}.png" alt="{{ player.country }}">
                    </a>
                    <a href="/user/{{ player.id }}">
                        {{ player.username }}
                    </a>
                </td>
                <td>{{ player.stats.multiplayer_wins|number_format(0, '.', ',') }}</td>
                <td>{{ player.stats.multiplayer_losses|number_format(0, '.', ',') }}</td>
                <td>{{ player.stats.multiplayer_ties|number_format(0, '.', ',') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>